<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="mySQL" connectionString="server=127.0.0.1;user=root;port=3306;password=root;Charset=utf8;database=tt28;"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpSoap"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>